body {
  padding-top: 70px;
  padding-bottom: 30px;
} 

#conteudo-sobre, 
#conteudo-equipe, 
#conteudo-resultados {
  display: none;
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

textarea {
  height: 200px !important;
  overflow: visible !important;
}

.btn-close {
  float: right; 
  color: #f44336; 
  cursor: pointer;
}